/* desktop first */

@media screen and (max-width:1024) {

    .event {
        margin: 1%;
        width: 48%;
    }

    .container {
        padding: 0 1em;
        
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    
        
      }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    h1 {
        font-size: 2em;
        z-index: 2;
      }

    
    
}

@media screen and (max-width: 964px) {
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    
        
      }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        object-position: center 30%;
      }
    h1 {
        font-size: 2em;
        z-index: 2;
      }

}

@media screen and (max-width:767px) {
    
    .burger-button {
        display: block;
    }
    
    .header {
        display:block;
        height: auto;

    }

    .header ol {
        display: block;
    }
    
    .header ol li {
        height: 50px;
        
    }

    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .header logo {
        text-align: center;
    }

    .menu {
        position: fixed;
        background-color: rgba(128,128,128, .5);
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

    }

    .menu.is-active {
       /*  left: 0; */
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-details {
        width: auto;
        font-size: 16px;
    }

    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
        
    }

    .project-url {
        font-size: 1em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: .8em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
      }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        
      }
    h1 {
        font-size: 2em;
        
        z-index: 2;
      }

}


@media screen and (max-width:480px) {
    
    .project-details {
        width: auto;
        font-size: 12px;
    }

    .event-details {
        margin: -2em .5em .5em;
        padding: 1em;
    } 
    
    .contact {
        height: auto;
        padding: 1em 0;
        display: block;
        text-align: center;
    }

    .form-email button {
        margin: 1em auto;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

    .hero h1 {
        font-size: 1.5em;
    }

}

@media screen and (max-width:320px) {
    
    .project-details {
        width: auto;
        font-size: 10px;
    }

    .event-details {
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .hero {
        padding: 2em 1em;
    }

    .hero h1 {
        font-size: 1.2em;
    }
}